/*GENERAL STYLES*/
.clearfix:after {
    content: "";
    display: block;
    float: none;
}
.marginBottom20px{
    margin-bottom: 20px;
}
.addItemBtn {
    background: none;
    border: none;
    text-decoration: underline;
    margin:10px;
    float:right;
}
/*GENERAL STYLES END*/


/*MAIN STYLES*/
#mainContainer {
    margin: 55px 0 0 225px;
    padding:20px
}
/*MAIN STYLES END*/


/*MAIN NAV STYLES*/
#mainNav {
    margin: 0;
    height: 55px;
}
/*MAIN NAV STYLES END*/

/*DASHBOARD STYLES*/
#dashboardNav {
    width: 225px;
    margin: 0;
    height: 100vh;
    border-top: 0;
    border-radius: 0;
    position: fixed;
    left: 0;
    top:55px;
}
#dashboardNav .navbar-collapse {
    padding: 0;
}
#dashboardNav .nav {
    width: 100%;
}
#dashboardNav li {
    float: none;
}
#dashboardList h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0;
}
.subTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
/*DASHBOARD STYLES END*/

/*LIST STYLES*/
#lists {
    padding: 0;
}
.singleList {
    list-style: none;
    width: 100%;
    background: #e7e7e7;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.singleList h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
}
.listDescription {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 15px;
}
/*LIST STYLES END*/

/*TASK STYLES*/
/*TASK STYLES END*/
