/*GENERAL STYLES*/
.clearfix:after {
    content: "";
    display: block;
    float: none;
}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style:none;
}
h2, h3, h4{
    margin-bottom:0!important;
}
.marginBottom20px{
    margin-bottom: 20px;
}
.addItemBtn {
    background: none;
    border: none;
    text-decoration: underline;
    margin: 10px;
    text-align: right;
    display: block;
    cursor:pointer;
}
/*GENERAL STYLES END*/


/*MAIN STYLES*/
#mainContainer {
    margin: 55px 0 0 225px;
    padding:20px
}
/*MAIN STYLES END*/


/*MAIN NAV STYLES*/
#mainNav {
    margin: 0;
    height: 55px;
}
/*MAIN NAV STYLES END*/

/*DASHBOARD STYLES*/
#dashboardNav {
    width: 225px;
    margin: 0;
    height: 100vh;
    border-top: 0;
    border-radius: 0;
    position: fixed;
    left: 0;
    top:55px;
}
#dashboardNav .navbar-collapse {
    padding: 0;
}
#dashboardNav .nav {
    width: 100%;
}
#dashboardNav li {
    float: none;
}
#dashboardList h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0;
}
.subTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
/*DASHBOARD STYLES END*/

/*LIST STYLES*/
#listPreview {
    background: #e7e7e7;
    padding: 15px;
}
.singleList {
    list-style: none;
    width: 100%;
    background: #e7e7e7;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.singleList h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
}
.listDescription {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 15px;
}

#listPreview h3 {
    margin: 0;
}
.singleTask,
.checklist {
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 5px 8px -4px rgba(0, 0, 0, 0.48);
    margin-bottom:10px;
}
.deadline {
    position: absolute;
    right: 10px;
    top: 9px;
}
/*LIST STYLES END*/

/*TASK STYLES*/
#tasksHolder .panel-heading {
    position: relative;
    border-radius: 10px 10px 0 0;
    background: #fff;
}
.addCheckTitle {
    margin-bottom: 5px;
}
/*TASK STYLES END*/

/*CHECKLIST STYLES*/
.checklists {
    border-radius: 10px;
}
.checkClose {
    float: none;
}
.singleCheck {
    margin-left: 20px;
}
.singleCheck label{
    font-weight:100;
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    font-style: italic;
    color:#777777;
}
/*CHECKLIST STYLES END*/