<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=https%3A%2F%2Fraw.githack.com%2FTeam-Galactus%2Fgalactus%2Fmaster%2Fpublic%2Findex.html%23%2Fhome&amp;linkname="></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_google_gmail"></a>
    <a class="a2a_button_pinterest"></a>
</div>
