<ul id="lists" class="clearfix">
    {{#each lists}}
        <li class="singleList">
            <h3>
                <a href="#/dashboard/{{../Id}}/lists/{{Id}}">{{title}}</a>
            </h3>
            <p class="listDescription">{{description}}</p>
        </li>
    {{/each}}
</ul>
<a class="addItemBtn btn" data-toggle="modal" data-target="#addListModal">+ Add List</a>