<nav id="dashboardNav" class="navbar navbar-default">

</nav>
<article id="mainContainer" class="clearfix">
    <div class="row">
        <div class="col-sm-4">
            <section id="listsHolder">

            </section>
        </div>
        <div class="col-sm-8">
            <section id="listPreview" class="closed clearfix">
                <header>
                    <h3>Some List Title</h3>
                    <p class="listDescription">Some list description</p>
                </header>
                <article id="tasksHolder">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#task" aria-expanded="true" aria-controls="task">
                                    <h4 class="panel-title">Task 1 #1</h4>
                                    <div class="deadline">
                                        <span><em>Due Date: </em></span><strong>3/10/2016</strong>
                                    </div>
                                </a>
                            </div>
                            <div id="task" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p> Some task description</p>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="checklists clearfix">
                                                <div class="checklist">
                                                    <h5>Some Checklist</h5>
                                                    <form class="checklistForm">
                                                        <div class="singleCheck">
                                                            <input type="checkbox" value="completed">
                                                            <label>Checkbox 1 </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="addItemBtn btn" data-toggle="modal" data-target="#addTaskModal">+ Add Task</a>
                </article>
            </section>
        </div>
    </div>
</article>