<nav id="dashboardNav" class="navbar navbar-default">

</nav>
<article id="mainContainer" class="clearfix">
    <div class="row">
        <div class="col-sm-4">
            <section id="listsHolder">

            </section>
        </div>
        <div id="listPreview" class="col-sm-8">

        </div>
    </div>
</article>
