<div class="welcomeHolder">
    <div class="registerHolder text-center">
        <h3 class="heading white-font">Register Form</h3>
        <input placeholder="Username" id="tb-register-username" class="form-control form-register" />
        <input placeholder="Password" id="tb-register-password" class="form-control form-register" type="password" />
        <button id="btn-register" class="form-register btn btn-success">Register</button>
    </div>
</div>

