<div class="welcomeHolder white-font">
    <div>
        <h1>Galactus Task Manager</h1>
        <p class="mainDescription">
            We are what we call the<br>
            "Manager of The Galactic Quests"<br>
            as no task is more important than the galaxy.
        </p>
    </div>
</div>