<div class="welcomeHolder white-font">
    <div class="text-center">
        <h1>Galactus Task Manager</h1>
        <p class="mainDescription">
            We are what we call the<br>
            "Manager of The Galactic Quests"<br>
            as no task is more important than the galaxy.
        </p>
        <a href="#/dashboard" id="btn-dashboards"class="btn hidden">DASHBOARDS</a>
    </div>
</div>